/* Change size of rem for small screens so we fit all the way down to 150px width */
@media (max-width: 250px) {
  html {
    font-size: 8px;
  }
}

.Calculator {
  max-width: 500px;
  padding: 2rem;
}

.Calculator--large {
  max-width: 1500px;
}

.Calculator-result {
  background-color: rgba(161, 161, 197, 0.6);
  text-align: right;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
}

.Calculator-inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  background-color: rgba(17, 17, 22, 0.9);
  color: #fff;
  padding: 1rem;
}

.Calculator-zero {
  grid-column: 1 / 3;
}

.Calculator-plus {
  grid-row: 2 / 4;
  grid-column: 4;
}

.Calculator-equal {
  grid-row: 4 / 6;
  grid-column: 4;
}

.Calculator-inputs > button {
  background-color: rgb(221, 146, 34);
  color: #fff;
  border-width: 0;
  border-radius: 4px;
  line-height: 1.5em;
  font-size: 1.2rem;
  font-weight: 600;
}
